@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

body {
  min-height: 100vh;
  background: url("../images/selfie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Cormorant Garamond', serif;
  color: #ECEFE8;
}


.side-bar {
  background: #000508;
  width: 245px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.35s ease;
  transition-property: left;
  z-index: 1000;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 40px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a{
  color: #ECEFE8;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 40px;
}

.side-bar .menu .item a:hover {
  color: #AEB6A9;
  background-color: #162E32;
  transition: all 0.35s ease;
}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item .sub-menu {
  background: #314745;
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 40px;
  font-size: 14px;
}

.side-bar .menu .item .sub-menu a:hover{
  background: #698684;
  color: #FFEBB3;
  transition: all 0.35s ease;
}

.logo {
  position: relative;
  cursor: pointer;
  font-weight: 700;
}

.logo a{
  color: #ECEFE8;
  font-size: 22px;
  text-decoration: none;
  display: block;
  line-height: 0;
  padding: 22px 30px;
}

.logo a:hover{
  color: #AEB6A9;
}

.close-btn {
  position: absolute;
  color: #ECEFE8;
  font-size: 18px;
  right: 0;
  margin: 10px;
  cursor: pointer;
  z-index: 1001;
}

.close-btn a:hover{
  color: #927A6E;
}

.menu-btn {
  position: absolute;
  color: #ECEFE8;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  z-index: 999;
}

.subscript {
  padding: 0px 30px;
  font-style: italic;
}

#preloader {
  background: #021114 url("../images/loader.gif") no-repeat center;
  background-size: 8%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-position: center;
  background-size: cover;
}

section .content{
  max-width: 650px;
  margin: 60px 10%;
  position: absolute; top: 50px;
}

section .content h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 70px;
  margin-bottom: 10px;
}

section .content h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 25px;
}

section .content p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 35px;
  letter-spacing: 1px;
}

section .content .info-btn {
  background-color: #B4C2C2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
  color: #6B7272;
}

section .content .info-btn:hover{
  background-color: #698684;
  color: #ECEFE8;
  ;
}

section .icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  position: relative; top: 375px;

}

section .icons a{
  color: #ECEFE8;
  position: relative;
  font-size: 16px;
  transition: all 0.5s ease;
}

section .icons a:not(:last-child){
    margin-right: 50px;
}

section .icons a:hover{
  transform: scale(1.2);
}

section .icons a:visited{
  color: #ECEFE8;
}

section .icons a i{
  background-color: transparent;
  border: 1px solid #ECEFE8;
  padding: 10px;
  border-radius: 48px;
  transition: all 0.5s ease-in-out;
}


section .icons a i:hover {
  background-color: #CABDB7;
}